/* MODE SECTION*/
.modeSection{
    padding-top: 2rem;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* NAV SECTION*/
.navSection{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.navbar{
    display: flex;
    gap: 5rem;
    align-items: center;
    color: #6B7280;
    min-height: 60px;
}
.circle{
    background-color: #EEEBFF;
    border-radius: 50%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   
        
    }
 
.circle p{
    color: #7B61FF;
    transform: rotate(45deg);
font-weight: 600;
font-size:large;
}
/* HERO SECTION */
.heroSection{
    padding: 2rem 0;
    max-width: 80%;
    margin: auto;
}

.heroNameContainer{
    display: flex;
}
.heroName{
    width: 6rem;
    text-align: center;
    border-bottom: 1px solid #3730A3;
    margin: 12px 10px 20px; 
}
.heroNameContainer span{
    color: #4338CA;
    font-weight: 500;
}
.heroTexts h1{
    color: #1F2937;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    margin: 2rem auto;
}
.heroButtons{
    margin: 2rem auto;
}
.heroImg{
    max-width: 476;
    max-height: 375px;
    border-radius: 18px;
    margin-top: 0;
    ;}
/* SKILLS SECTION */
.skillsSection{
    padding-top: 2rem;
    max-width: 80%;
    margin: auto;
    border-bottom: 1px solid #BAB2E7
    ;
}
.skillsSection h2{
    color: #1F2937;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.skillsSection img {
    max-width: 150px;
    height: 6rem;
    padding: 0 20px;
  }
  
  .skillsSection img:last-of-type {
    padding-left: 0;
  }
  
  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 6rem;
    margin-bottom: 3rem;

  }
  
  .wrapper {
    position: absolute;
    display: flex;
    
  }
  
  .skillsSection section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  /* PROFILE SECTION */
  .profileSection{
    padding: 2rem 0;
    max-width: 80%;
    margin: auto;
    border-bottom: 1px solid #BAB2E7
    ;
    
}
.profileSection h2{
    color: #1F2937;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.profileSection h3{
    color: #4338CA
    ;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.profileContainer{
    display: flex;
    gap: 10em;
    
}

.aboutme{
    width: 35rem;

}
.profileLeft{
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    margin-right: auto;
    width: 10rem;
}
.profileRight{
    font-weight: 400;
    line-height: 36px;
    width: 25rem;
}
.profileInfos{
display: flex;
}
/* PROJECTS SECTION */
.projectsSection{
    padding-top: 2rem;
    max-width: 80%;
    margin: auto;
    margin-bottom: 6rem;
}
.projectsSection h2{
    color: #1F2937;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.projectsSection h3{
    color: #4338CA
    ;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.cardImage{
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
}

/* FOOTER SECTION */
.footerSection {
  @apply bg-[#F9F9F9] pt-8 p-[15vh];
}
